@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 0px) {
    .page {
        background-image: url("/src/assets/images/background-pattern-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: hsl(275deg 100% 97%);
    }
}

@media (min-width: 1440px) {
    .page {
        background-image: url("/src/assets/images/background-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: hsl(275deg 100% 97%);
    }
}